@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.headerHP {
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
}

.navigationHP a:hover {
    color: rgb(94, 150, 94);
}


.linkHP {
    color: rgb(0, 48, 4);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
    font-family: 'Times New Roman', Times, serif;
}



.mainHP {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(images/background.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.mainHP h2 {
    color: rgb(0, 76, 5);
    font-size: 3em;
    font-weight: 500;
    margin-left: 27rem;
}

.cardsHP {
    padding-top: 5rem;
    width: 100%;
    min-height: 100vh;
    background-color: rgb(248, 255, 248);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}


.titleHP {
    display: flex;
    justify-content: center;
    color: rgb(0, 76, 5);
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 60px;
}

.contentHP {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.cardHP {
    background-color: #fff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}

.cardHP:hover {
    transform: scale(1.1);
}


.infoHP {
    text-align: center;
}

.infoHP h3 {
    color: rgb(0, 76, 5);
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}


.buttonHP {
    padding-top: 1rem;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: rgb(27, 91, 255);
}

.footerHP {
    background-color: #000000e2;
    color: #fff;
    padding: 1em;
    text-align: center;

}
