#spending-css {
    /*background-color: #20bf55;*/
    /*background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);*/
    /*background-repeat: no-repeat;*/
    height: 100%;
    /*background-color: rgb(42, 100, 42);*/
}
.spending-header{
    margin-left: 225px;
}

#spending-col{
  text-align: center;
}

#spending-barr {

    margin-top: 50px;
    border: #000000 solid;
    background-color: white;
    width: 900px;
    margin-left: 375px;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 30px;

}


#spending-card {
    background-color: #262e27;
    height: 150px;
    width: 350px;
    margin-top: 100px;
    margin-left: 500px;
    border-radius: 30px;
    text-align: center;
    padding-top: 20px;
    font-size: 30px;
}

#spending-p {
    color: white;
}

#spending-h1 {
    color: white;
}


